$body-font       : 'Fira Sans', sans-serif;
$header-font     : 'Fira Sans', sans-serif;
$primary-color   : #00FFFF;
$secondary-color : #6EFF92;
$dark            : rgb(50, 50, 50);
$light           : #F3F3F3;


* {
  box-sizing: inherit;
}

html,
body {
  font-size: 12px;
  font-weight: 400;
  position: relative;
}

body {
  font-family: $body-font;
  margin: 0;
  color: $light;
  background: linear-gradient(rgb(50, 50, 50), rgb(30, 30, 30));
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  color: mix($light, $dark, 50%);
  margin-top: 0;
  font-weight: 400;
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h5, h6 {
  color: $secondary-color;
  text-transform: uppercase;
  letter-spacing: .2em;
}

h1 {
  margin-bottom: 2rem;
  font-size: 6em;
  line-height: 7rem;

}

h2 {
  margin-bottom: 2rem;
  font-size: 4em;
  line-height: 5rem;

}

h3 {
  margin-bottom: 2rem;
  font-size: 2.5em;
  line-height: 3.5rem;

}

h4 {
  margin-bottom: 1rem;
  font-size: 2em;
  line-height: 3rem;

}

h5 {
  margin-bottom: 1rem;
  font-size: 1.75em;
  line-height: 2.75rem;

}

h6 {
  margin-bottom: 1rem;
  font-size: 1.4em;
  line-height: 2.25rem;

}

p {
  margin-bottom: 2rem;
  font-size: 1.4em;
  line-height: 2.25rem;
}

small {
  font-size: .5em;
  color: #BFBFBF;
}

a {
  color: $primary-color;
}

ul.styled {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    background: $dark;
    padding: 1rem;
    margin-bottom: .75rem;
    font-size: 1.25rem;
    border-left: solid 3px $secondary-color;
  }
}

/* header and footer areas */
header .bg-dark {
  background: rgb(30, 30, 30);
}

header .bg-dark .flex-between p {
  margin: 1rem 0;
  line-height: 1.5em;
  font-family: helvetica neue,Helvetica,Arial,sans-serif;
}

.menu {
  padding: 0;
  margin: 0;
  display: inherit;

  li {
    display: inline-block;

    &:last-child {
      padding-right: 0;
    }
  }
}

.rio-logo {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  padding: 3rem 0;
}

.download {
  img {
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }
  a {
    padding: 40px 15px 10px 15px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.article-meta {
  text-decoration: none;
  background: #eee;
  padding: 5px;
  border-radius: 5px;
}

.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav.main-nav {
  background: $dark;
  border-top: solid thin darken($dark, 80%);
  border-bottom: solid thin darken($dark, 80%);
  padding: .75rem 0;

  .logo {
    height: 50px;
    width: 137px;
    display: block;
  }

  .menu {
    text-align: center;

    a.btn.no-bg {
      color: $light;
    }
  }
}

.article-meta, footer {
  text-align: center;
}

.title {
  font-size: 1.1em;
}

footer.bg-primary {
  p {
    margin: 0;
    padding: .5rem;
  }

  a {
    text-decoration: none;
  }

  small {
    color: #BFBFBF;
  }
}

hr {
  border: .5px solid lighten($primary-color, 80%);
}

/* code */

pre {
  display: block;
  border-radius: 3px;
  background-color: #3d3d3d;
  box-shadow: inset 0 0 10px #000000;
  font-size: 1.2rem;;
   white-space: pre-wrap;
  word-wrap: break-word;
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px;
}
code {
  line-height: 1.8rem;
  font-size: 1.4rem;
  background: linear-gradient(to right, #00FFFF, #6EFF92);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

// pre code {
//   display: block;
//   overflow-x: auto;
//   background: none;
// }


/* elements */
img, iframe, video {
  max-width: 100%;
}

main {
  hyphens: auto;
}

blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #BFBFBF;
  border-bottom: 1px solid #BFBFBF;
  thead th {
    border-bottom: 1px solid #ddd;
  }
}

th, td {
  padding: 5px;
}

thead, tfoot, tr:nth-child(even) {
  background: #eee;
}

ul.underlined {
  font-size: 20px;
  line-height: 24px;
  font-weight: lighter;
  letter-spacing: .5px;
  list-style-type: none;
  padding: 0;

  li {
    border-bottom: #BFBFBF solid thin;
    padding: 10px 0;
  }
}

a.btn {
  font-family: $header-font;
  text-transform: uppercase;
  background: $secondary-color;
  color: $dark;
  padding: .75rem 35px;
  text-decoration: none;
  font-size: 1.25rem;
  line-height: 0;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  height: 35px;
  border-radius: 3px;

  > img {
    padding-right: .5rem;
    height: 20px;
  }

  &.no-bg {
    background: transparent;
  }
}

//layout
section {
  padding: 5rem 0;
}

.wrap {
  box-sizing: border-box;
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

.intro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  align-items: end;
  column-gap: 2rem;
}

.half {
  flex-basis: 50%;
  max-width: 50%;
  padding: 2rem;

  // &:last-child {
  //   padding: 0;
  // }
}

.grid-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  align-items: center;
}

.grid-three {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

.grid-four {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 2rem;
}


.spacer {
  padding: 4rem;
}

.text-center {
  text-align: center;
}

//accents
.bg-primary {
  background-color: $primary-color;
  * {
    color: $light;
  }
}

.bg-secondary {
  background-color: $secondary-color;
  * {
    color: $light;
  }
}

.bg-dark {
  background-color: $dark;
  * {
    color: $light;
  }
}

.bg-light {
  background-color: $light;
  * {
    color: $dark;
  }
}

.card {
  box-shadow: 0 0 12px rgba(0,0,0,.25);
  background: $dark;
  padding: 3rem;
}


//docs layout
.docs {
  .container {
    display: grid;

    grid-template-areas:
      "header header header"
      "nav content side"
      "footer footer footer";

    grid-template-columns: 300px minmax(50ch, 80ch) auto;
    grid-template-rows: auto 1fr;
    column-gap: 40px;

    height: 100vh;
  }

  header {
    grid-area: header;
  }

  .tree-nav {
    grid-area: nav;
    align-items: start;
    padding: 2rem;
    background-color: lighten($primary-color, 80%);

    > ul ul {
      display: none
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li {
        cursor: pointer;

        &.open {
          > img {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg);
          }

          > ul {
            display: block;
          }
        }

        a {
          font-size: 14px;
          font-weight: bold;
          text-decoration: none;
          color: $primary-color;
        }

        ul {
          margin-left: 10px;
        }
      }
    }
  }

  main {
    grid-area: content;
    margin-top: 2rem;
  }

  aside {
    grid-area: side;
    margin-top: 2rem;
  }

  footer {
    grid-area: footer;
  }

  //table of contents
  #TableOfContents {
    > ul {
      padding: 0;
      margin: 0;
    }

    ul {
      list-style-type: none;

      li {
        a {
          text-decoration: none;
          padding: .25rem 0;
          display: block;
        }
      }
    }
  }
}

//intro
.intro {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  padding: 0;

  .grid-two {
    grid-template-columns: 60% auto;
  }

  .wrap {
    padding: 10rem 0;
  }

  .folder {
    grid-row: 5 / span 3;
    grid-column: 2 / span 4;
    z-index: 2;
  }

  .bg-primary {
    grid-row: 2 / span 4;
    grid-column: 1 / span 6;
    color: white;
  }
}

//get started
.get-started {
  display: grid;
  grid-template-columns: repeat(6,1fr);
  padding: 0;

  .white {
    background: white;
    grid-row: 2 / span 4;
    grid-column: 2 / span 4;
    z-index: 2;
    box-shadow: rgba($dark, .5) 0 0 20px;
    padding: 5rem;
  }

  .bg-primary {
    background: $primary-color;
    grid-row: 5 / span 3;
    grid-column: 1 / span 6;
    color: white;
    padding: 20rem 0 5rem 0;
  }
}

//42
#konami {
  position: fixed;
  right: 0;
  bottom: 0;

  &.hide {
    display: none;

    &.homer {
      display: block;
    }
  }
}

//responsive
  @media (max-width: 768px) {
    .container {
      grid-template-areas:
        "header"
        "nav"
        "content"
        "side"
        "footer";

      grid-template-columns: 1fr;
      grid-template-rows:
        auto /* Header */
        minmax(75px, auto) /* side Nav */
        1fr /* Content */
        minmax(75px, auto) /* toc */
        auto; /* Footer */
    }

    .wrap {
      width: 90%;
    }

    section {
      padding: 2.5em 0;
    }

    nav.main-nav {
      .logo, .logo img {
        height: 35px;
        width: 112px;
        display: inline-block;
      }
    }

    .grid-two,
    .grid-three {
      grid-template-columns: 1fr;
    }

    .grid-two {
      grid-row-gap: 0;
    }

    .grid-four {
      grid-template-columns: repeat(2, 1fr);
    }

    .hidden-small {
      display: none;
    }
  }
