@import  "../../themes/projects-theme/assets/sass/main";

:root {
    --primary-color   : #72C2CF;
    --secondary-color : #373B6B;
    --dark            : #33313b;
    --light           : #F3F3F3;
  }