@charset "UTF-8";
/* CSS Document */

/*Kyle Dillon's custom CSS*/
.header p{
	color: white;
}

.header a{
	color: white;
	text-decoration: underline;
}

.hero {

	background-image: url("/images/hero.png");
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
	background-position-x: right;
    background-position-y: bottom;
	width: 100%;

}



.hero-text {
	font-size: 80px;
	font-weight: 700;
	color: white;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.45);
}

.hero-subtext {
	color: white;
	text-transform: none;
	text-shadow: 2px 2px 5px rgba(0,0,0,0.45);

}

.download-now {
	color: white;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 15px 25px;
	border-radius: 3px;
	border: none;
	background-color: linear-gradient(to right, #00ABF5, #49C1F5);; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #00ABF5, #49C1F5); /* Standard syntax (must be last) */
	margin: 15px;

}

.download-now a {
	color: white;
	text-decoration: none;
}

.download-now:hover {
	color: white;
	background-color: linear-gradient(to right, #49C1F5, #00ABF5);; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #49C1F5, #00ABF5); /* Standard syntax (must be last) */
}

.join-meetup {
	color: #00abf5;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 15px 25px;
	border-radius: 3px;
	border: none;
	background-color: #fff;
	margin: 15px;
}

.join-meetup a {
	color: #00abf5;
	text-decoration: none;
}

.join-meetup:hover {
	color: #49c1f5;
}

.white-overlay {
	background-image: url("/images/white-overlay.png");
}

.title-text {
	font-weight: 700;
	color: #3d3d3d;
	font-size: 36px;
}

.subtitle-text {
	font-weight: 700;
	color: #3d3d3d;
	font-size: 28px;
}

.lead {
	font-size: 18px;
	text-transform: none;
	font-family: Roboto, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	vertical-align: middle;
}

.bullet{
	font-weight: 700;
	color: #00abf5;
}

.circle-icon {
	background-color: #00ABF5;
	width: 150px;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
	margin: 0 auto;
}

.icon {
	display:block;
    margin:auto;
	filter: invert(1)
}

.What-Can-Rio-Do-For-You {
	background-image: url("/images/mountain.png");
	background-position: top;
}

.we-built-Rio{
	background-color: linear-gradient(to right, #49C1F5, #00ABF5);; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #49C1F5, #00ABF5); /* Standard syntax (must be last) */
	padding-bottom: 1px;
	color: white;
}

.logo-white {
	filter: brightness(500);
}

.steps{
	padding-top: 200px;
	padding-bottom: 100px;

}

.laptop-bg {
	background-image: url("/images/laptop.png");
	    background-size: contain;
    background-attachment: fixed;
    background-repeat: no-repeat;
	background-position: right;
}

.circle-step {
	background-color: none;
	width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
	margin: 0 auto;
	color: #00abf5;
	border: 3px solid #00ABF5;
}



.step-text {
	vertical-align: middle;
    margin-top: 18px;
    font-size: 36px;
    font-weight: 100;
    -webkit-transition: color 0.3s;
	border: none;
	font-weight: 700;
	text-transform: uppercase;

}

hr.rails  {
	border: 10px solid #00ABF5;
}

.step-rails {
	margin-top: -2020px;
}

.ticket {
	background: #3d3d3d;
	color: #fff;
    margin-left: auto;
    margin-right: auto;
}

.padding {
	padding-bottom: 50px;
	padding-top: 50px;
}

.easy-step-text {
	text-transform: none;
	font-weight: 100;
	padding-top: 25px;
	color: #00ABF5;

}

.callout {
	color: white;
	background-color: linear-gradient(to right, #49C1F5, #00ABF5);; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, #49C1F5, #00ABF5); /* Standard syntax (must be last) */
}

.install-now-white {
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	padding: 15px 25px;
	border-radius: 3px;
	border: 3px solid #fff;
	background: none;
	margin: 15px;

}

.install-now-white a {
	color: #fff;
	text-decoration: none;
}

.cable-car {
	background-image: url("/images/cable-car-bg.png");
	background-size: contain;
    background-repeat: no-repeat;
    background-attachment: inherit;
}


.mountain {
	background-image: url("/images/mountains.png");
	background-size: contain;
	background-color: #00ABF5;
	background-repeat: repeat-x;
}

.monospace {
	font-family: monospace !important;
}

#ticket-lead {
	font-size: 26px;
	margin-bottom: 32px;
}

#get-started-cta-button {
	margin-top: 32px;
}

.center {
	margin: 0 auto;
}

#features-list {
	font-size: 1.5rem;
}

#features-header {
	margin-top: 32px;
	margin-bottom: 16px;
}

.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


@media (max-width: 576px) {
	.hero-text {
		font-size: 48px;
}
	.hero {
		background-attachment: scroll;
	}
	.header {
		display: none;
	}

}